# Environment variables for lua-simdjson development
# Install direnv and run `direnv allow` to automatically load these

export LUA_INCDIR="/opt/homebrew/Cellar/lua/5.4.8/include/lua5.4"
export LUA_LIBDIR="/opt/homebrew/Cellar/lua/5.4.8/lib"
export LDFLAGS="-L/opt/homebrew/Cellar/lua/5.4.8/lib"
export LDLIBS="-llua5.4 -lpthread"
export CFLAGS="-I/opt/homebrew/Cellar/lua/5.4.8/include/lua5.4"
export LUA_CPATH="./?.so"

PATH_add /opt/homebrew/bin